{% extends 'layout/default.twig' %}

{% block content %}
  <div class="d-flex vh-100 flex-row justify-content-center align-items-center">
    <form class="p-4 border">
      <h2 class="mb-4">Login</h2>
      <div class="mb-3">
        <label for="login" class="form-label">Email address</label>
        <input type="email" class="form-control" id="login" value="{{ params.login }}">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="rememberMe">
        <label class="form-check-label" for="rememberMe">Remember me</label>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
{% endblock %}
